@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background: #212121;
}


.main-parent {
    width: 100%;
    height: 100vh;
    background-image: url(./monde.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-parent .form-wrap {
    width: 450px;
    background: rgb(255, 255, 255/75%);
    border-radius: 6px;
    padding: 35px 40px;
    backdrop-filter: blur(25px);
}

h1 {
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

input {
    width: 100%;
    padding: 14px 10px;
    border: 1px solid rgba(0, 0, 0, 0.352);
    margin-top: 10px;
    font-size: 15px;
    border-radius: 2px;
}

span {
    color: black;
}

.submit {
    padding: 13px 30px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(31, 39, 44);
}